.basket-container { 
    width: 80%;;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: double;
    padding: 5px;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
margin-bottom: 10vh;
display: flex;
flex-direction: column;
box-shadow: 8px 10px 15px 8px rgba(0, 0, 0, 0.5);
}

.basket-container button{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.basket-head {
    font-family: 'Cinzel', serif;
    padding: 5px;
    text-shadow: 2px 2px white;
    background: wheat;
    border-radius: 2px;
    font-weight: 1000;
}

.basket-body{
    display: flex;
}

.checkout{
    float: right;
    font-size: 17px;
    height: 55px;
    width: 150px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 14px;
    margin-bottom: 10vh;
    background-image:linear-gradient(#2d545e,#e1b382);
    box-shadow: grey;
    color: black;
    font-weight: bold;
}

.checkout:hover{
    cursor: pointer;
    background-image:linear-gradient(#e1b382,#2d545e);
}

.cntshp{
    
    
    color: #211e20;
    font-weight: 600;
}

.cntshp:hover{
    cursor: pointer;
    background-image:linear-gradient(#e1b382,#2d545e);
}

.table{
    margin-left: 50px;
    width: 100%;
}

.bt-table-div {
    display: flex;
    width: 100%;
    color: black;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.table-responsive{
    width: 100%;
}

.table-responsive li {
    text-align: center;
}

.table-responsive th {
    text-align: center;
}

.table-responsive tbody tr:nth-child(odd) {
    background-color: white;
 }

.table-responsive td {
    text-align: center;
}

.table-responsive button {
    margin: 5px;
    color: white;
    background: red;
}

.basket-action{
    padding: 2px;
    border-radius: 5px;
    background: green;
    color: white;
    text-decoration: none;
}