.header{
    clear: both;
}

.curItem{
    background-color: gray;
    min-height: 500px;
}

.Category-form{
    border: 0;
    text-align: center;
    margin: 20px 10px;

}
.Category-form2{
    border: 0;
    font-size: 1em;
    text-align: left;
    margin: 20px 10px;

}

.Category-box{
    width: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.Category-box > input{
    width: 60px;
}

.Category-select{
    background-color: rgb(29, 184, 29);
    border-radius: 0px;
    border: 0px;
    font-size: 1.3em;
    width: 80%;
    height: 40px;
}

.Categories-link{
    color: #444;
}

.Category-itemOption{
    background-color: cadetblue;
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    margin-left: 10px;
    min-height: 200px;
}

.category-image{
    height: 100px;
    width: 150px;
    padding-right: 20px;
    margin: 10px;
    border-right: 2px #ddd solid;
}

.curItem{
    padding: 20px;
    background-color: white;
    border: 2px black solid;
    width: 100%;
    font-size: 2em;
    margin: 0;
}
.curItem > div > p{
    padding: 10px;
    height: 200px;
}

.category-backtotop{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    border: 2px red solid;
    opacity: 0.8;
    border-radius: 10px;
}

.category-backtotop > a {
    opacity: 1;
    color: white;
    text-shadow: 2px 1px black;
}