.header{
    clear: both;
}

.cat{
    margin-left: 50px;
}

.p{
    margin-left: 50px;
}

.Category-form{
    border: 0;
    text-align: center;
    margin: 20px 10px;

}
.Category-form2{
    border: 0;
    font-size: 1em;
    text-align: left;
    margin: 20px 10px;

}

.Category-box{
    width: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.categoryTitle{
    margin-left: 50px;
    padding-left: 50px;
}

.Category-box > input{
    width: 60px;
}

.Category-select{
    background-color: black;
    color: whitesmoke;
    border-style: solid;
    border-radius: 0px;
    border: 0px;
    font-size: 1.3em;
    width: 80%;
    height: 40px;
    margin-top: 25px;
    margin-left: 15px;
    opacity: 1;
}

.smalls{
    border-style: solid;
    background-image: linear-gradient(to right,#ccf70a,white);
    min-height: 230px;
    height: auto;
}

.Categories-link{
    color: black;
    margin-left: 20px;
}

.Category-itemOption{
    background-color: black;
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    margin-left: 10px;
    min-height: 200px;
    text-decoration: none;
}


/* cur item list here */

.category-image{
    height: 200px;
    width: 200px;
    max-width: 100%;
    padding-right: 0px;
    margin: 0px;
    border-right: 0px solid;
    background-color: white;
}

.curItem{
    background-image: url('/try2.png');
    height: auto;
    min-height: 500px;
    margin-left: 0px;
    color: black;
}
.curItem{
    padding: 20px;
    background-color: white;
    border: 2px black solid;
    width: 100%;
    font-size: 2em;
    margin: 0px;
    text-align: left;
}

.curItem > div{
    background-color: white;
    box-shadow: 20px 20px 50px gray;
}

.curItem > div:hover{
    box-shadow: 20px 20px 50px black;
    border: 0px solid gray;
}

.curItem > div > p{
    padding: 0px;
    min-height: 200px;
}


/* cur item ends */

.category-backtotop{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    border: 2px red solid;
    opacity: 0.8;
    border-radius: 10px;
}

.category-backtotop > a {
    opacity: 1;
    color: white;
    text-shadow: 2px 1px black;
}
