.prod-card {
    width: 95%;
    margin: 20px;
    font-family: arial;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    border: solid 2px yellowgreen;
  }
  
 .prod-card img{
  max-height: 100px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 
 .main-checkout-container{
display: flex;
flex: 1.5;
width: 100%;
 }

 .checkout-summary {
     display: flex;
     background-color:yellow;
     width: 80%;
     float: left;
     height: min-content;
     text-align: center;
     margin-right: 20px;
     padding: 10px;
     flex-direction: column;
 }
