
.ind-container {
    width: 60vw;
    height: 60vh;
    background: white;
    box-shadow: 5px 5px 15px rgba(pink, .5);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.ind-image {
  width: 50%;
  margin-right: auto;
  height: 100%;
}

.ind-image img {
  height: 100%;
  width: 100%;
}

.ind-heading{
  margin: 10px;
  font-size: 2vw;
  font-family:'Alata', sans-serif;
}

.ind-price {
  margin: 5px;
  font-size: 1.5vw;
  font-family:'Alata', sans-serif;
}

.ind-desc {
  margin: 5px;
  font-size: 1vw;
  font-family:'Alata', sans-serif;
  height: 30%;
}

.ind-product {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ind-quantity {
  padding-left: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  line-height: 20px;
  border: none;
  border-radius: 0.4rem;
  width: 25%;
 }

 .ind-quantity::placeholder {
  color: #B0BEC5;
}

.ind-quantity:focus {
  outline: none;
  box-shadow:
   0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.ind-form {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.ind-quantity-label {
  font-family: 'Alata', sans-serif;
  text-shadow: .5px .5px white;
  font-size: 15px;
}

.addToCart-ind {
  border: none;
font-size: 2rem;
font-family: 'Alata', sans-serif;
padding: 5px;
outline: none;
width: 75%;
margin-top:20px;
background: red;
color: white;
border-radius: 5px;
}



