    .myStyleCard1 {
      color: black;
      background-color: #ffffff;
      padding: 10px;
      margin: 10px;
      font-family: Arial;
      height: 100%;
      width: 100%;
      border:4px solid #dddddd;
      overflow: hidden;
    }
    .myImage1 {
      color: white;
      background-color: white;
      font-family: Arial;
      height: 300px;
      width: 400px;
    }
    .myBanner1 {
      text-align:left;
      margin-top: 0px;
      border:2px solid green;
    }
    .myBannertext1 {
      font-family: Arial;
      padding: 5px;
      background-color: #22aa22;
    }
    .myForm1 {
      margin-top: 10px;
      font-family: Arial;
      color:black;
      padding: 5px;
      background-color: #dddddd;
      border:0px;
    }
    .myBox1 {
      margin-top: 10px;
      font-family: Arial;
      color:black;
      padding: 5px;
      background-color: #dddddd;
      border:0px;
      height:100%;
    }