.menu-item {
    padding: 0 20px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    
  }
  .menu-item.active {
    
  }
   
  .scroll-menu-arrow {
    padding: 0px;
    font-size: 40px;
    cursor: pointer;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #44d7eb;
    text-shadow: 2px 2px black;
    color: white;
  }

  .header > p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 0;
    text-shadow: 0px 0px;
    margin-right: 30px;
  }