.menu-item {
    padding: 0 20px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    
  }
  .menu-item.active {
    
  }
   
  .scroll-menu-arrow {
    padding: 0px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .categoryDisplay{
    background-color: aliceblue;
    min-height: 300px;
    
  }

  .categoryTitle{
    text-align: center;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }