  /*.myStyleCard{
    color: black;
    background-color: #fff;
    padding: 10px;
    margin: 0px;
    font-family: Arial;
    height: 400px;
    width: 300px;
    border:4px solid #fff;
    border-radius: 0px;
    margin-top: auto;
  }
  
  .myImage {
    color: white;
    background-color: white;
    font-family: Arial;
    height: 150px;
    width: 200px;
  }
  .myBanner {
    text-align:left;
    margin-top: 0px;
    border:2px solid green;
  }
  .myBannertext {
    font-family: Arial;
    padding: 5px;
    background-color:#22aa22;
  }
  .myForm {
    margin-top: 10px;
    font-family: Arial;
    color:black;
    padding: 5px;
    background-color: #dddddd;
  }
*/

.prod-card-container {
  width: 250px;
  height: 260px;
  flex: 0 0 auto;
  margin-top: 50px;
}

.prod-card-hp {
  height: 100%;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  background: white;
  }

.prod-card-head {
  height: 130px;
  width: 250px;
  display:table-cell;
   vertical-align:middle; 
   text-align:center;  
}

.prod-card-head img {
  height: 90%;
  box-shadow: 0 8px 6px -6px black;
  margin-top: 5px;
  
}

.card-logo {
  width: 55px;
  margin: 20px;
}
     
.prod-card-body {
  height: 155px;
  text-align: center;
}

.product-title {
font-size: 17px;
letter-spacing: 1px;
text-transform: uppercase;
font-family: 'Alata', sans-serif;
text-decoration: none;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}


.product-price {
   font-weight: 200;
    font-family: 'Alata', sans-serif;
}
.product-price b {
  margin-left: 5px;
}



.addToCart {
border: none;
font-size: 2rem;
font-family: 'Alata', sans-serif;
padding: 0;
outline: none;
width: 90%;
margin-top: 5px;
background: red;
color: white;
 }

 .addToCart:hover{
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
 }

 .card-quantity {
  padding-left: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 15px;
  font-weight: inherit;
  line-height: 20px;
  border: none;
  border-radius: 0.4rem;
  width: 25%;
 }

 .card-quantity::placeholder {
  color: #B0BEC5;
}

.card-quantity:focus {
  outline: none;
  box-shadow:
   0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.card-form {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.card-quantity-label {
  font-family: 'Alata', sans-serif;
  text-shadow: .5px .5px white;
  font-size: 15px;
}

.card-hr {
  margin-top: 10px;
  margin-bottom: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
 