nav {
  height: 15vh;
  background-color: #2884b8;
background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);
  display: flex;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  float: left;
  margin-left: 1%;
}

.nav-links li a {
  color: white;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  text-shadow: 2px 2px black;
  font-weight: bold;
  cursor: pointer;
}

.logo{
  height: 90%;
  margin-left: 2%;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  border-top-left-radius: 50% 25%;
  border-top-right-radius: 50% 25%;
  text-shadow: 2px 2px 6px;
  object-fit: contain;
  display: flex;
  cursor: pointer;
}

.shopName{
  margin-left: 1%;
  font-size: 5vh;
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 2px 6px white ;
  float: left;
  display: flex;
  cursor: pointer;
}

.search {
  width: 28%;
  height: 90%;
  margin-left: 3%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.searchImg {
  height: 95%;
  cursor: pointer;
}

.searchPanel {
  display: flex;
 flex-direction: row;
 width: 100%;
 height: 50%;

}

.inputSearch {
  height: 95%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.navInfo {
  display: flex;
 height: 30%;
 width: 100%;
 float: left;
 align-items: center;
 font-size: 1vw;
}

.navInfo img {
  width: 10%;
  height: 70%;
}

.navPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1%;
  margin-left: auto;
  width: 12%;
  height: 14vh;
  align-items: center;
}

.navPanel a {
  color: black;
  font-size: 2vh;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1vh;
  background: white;
  font-family: 'Krona One', sans-serif;
  border: 0.2vh solid black;
}

.nav-search-div {
  
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 7vh;
  visibility: hidden;
}

.nav-search-div.open {
  visibility: visible;
}

.nav-search-op {
  height: 90%;
  display: flex;
  text-align: center;
  border-radius: 10px;
}

.search-nav-search-op {
  height: 90%;
  cursor: pointer;
}

.close-nav-search-op {
  height: 90%;
  cursor: pointer;
}

.cartLogo {
height: 2.5vh;
margin-right: .3vw;
}

.dropdown-category {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown-category.show {
  display: block;
}

.cat-class {
  cursor: pointer;
}

.cat-class.show {
  color: red;
  text-shadow: 2px 2px white;
}

.dropdown-category a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navSearchMeBox{
  z-index: 1000;
  background-color: white;
  position: absolute;
  float: bottom;
  margin-top: 100px;
  min-height: 100px;
}
.navSearchMeBox>p{
  padding: 10px;
  border: 2px black solid;
  margin: 0px;
  width: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 0.3px 0.3px ;
  box-shadow: 2px 4px 0px #444;
}


.dropdown-category a:hover {background-color: #ddd}

.fa-times:hover{
  color: gray;
}

@media screen and (max-width: 800px) {
 
  .nav-links{
    background-color: #2884b8;
background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);
    height: 80vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease-out;
    clip-path: circle(100px at 90% -90%);
    -webkit-clip-path: circle(0px at 90% -90%);
    pointer-events: none;
    margin-top: 2vh;
    margin-left: 0;
    z-index: 5;
  }

  .cartLogo {
    height: 9vw;
    margin-right: .3vw;
    }
 
  .nav-links.open {
   clip-path: circle(1000px at 90% -10%);
   -webkit-clip-path: circle(1500px at 90% -10%);
   pointer-events: all;
  }
 
  .line {
    width: 40px;
    height: .8vh;
    background: black;
    margin: 1.6vh;
  }
  nav{
    position: relative;
  }

.nav-open{
  flex-direction: column;
}

.shopName.open {
  display: none;
}

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
 }
 
 .nav-links li a {
   font-size: 12vw;
 }
 
 .inputSearch{
   display: none;
 }
 
  .navPanel {
    background-color: #2884b8;
    background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);
   flex-direction: row;
   height: 20vh;
   width: 100%;
   transition: all 1s ease-out;
   clip-path: circle(100px at 90% -90%);
   -webkit-clip-path: circle(0px at 90% -90%);
   pointer-events: none;
   padding: 2vw;
   z-index: 2;
 }

 .navPanel.open {
   clip-path: circle(1000px at 90% -10%);
   -webkit-clip-path: circle(1500px at 90% -10%);
   pointer-events: all;
 }

 .navPanel a{
   font-size: 8vw;
 }
 
 .navInfo {
   display: none;
 }
 
 .searchImg {
   position: absolute;
   right: 16%;
   top: 50%;
  transform: translate(-20%, -50%);
  height: 50%;
 }

 .nav-search-div.open {
  visibility: visible;
}

}
