body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .nav{
    display: flex;
    align-items: center;
    background-color: #44d7eb;
    height: 120px;
    width: auto;
    position: relative;
  }
  
  .logo{
    height: 100px;
    margin-left: 20px;
    margin-top: 8px;
    width: 100px;
    border-radius: 50%;
    text-shadow: 2px 2px 6px 
  }
  
  .shopName{
    margin-left: 15px;
    width: 20px;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px 6px white ;
    float: left;
  }
  
  .others{
    padding: 0%;
    position: absolute;
    margin-left: 1360px; 
    width: 150px;
    height: 120px;
  }
  
  .cart{
    height: 50px;
    width: 150px;
    background-color: aliceblue;
    justify-content: center;
    margin-top: 49px;
    border-radius: 10px;
  }
  
  .cart:hover{
    cursor: pointer;
  }
  
  .cartLogo{
    padding: 8px;
    height: 35px;
    width: 35px;
    margin-top: -2px;
    float: left;
  }
  
  .cartText{
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
  }
  
  .sign {
    padding: 5px;
    margin-left: 6px;
    font-size: 12px;
    float: left;
    margin-top: 19px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .login {
    padding: 5px;
    margin-left: 15px;
    font-size: 12px;
    float: left;
    margin-top: 19px;
    letter-spacing: 2px;
    text-decoration: solid;
    color: black;
    cursor: pointer;
  }
  
  .vl{
    border-left: 1px solid grey;
    margin-left: 8px;
    height: 14px;
    margin-top: 25px;
    width: 4px;
    float: left;
  }
  
  .search{
    padding: 0%;
    margin-left: 770px;
    width: 350px;
    height: 50px;
    margin-top: 35px;
  }
  
  .input{
    height: 35px;
    width: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -35px;
  }
  
  .searchImg{
    margin-left: 315px;
    height: 20px;
    margin-top: 4px;
    position: absolute;
  }
  
  .buttons{
    position: relative;
    width: 480px;
    height: 50px;
    margin-top: 20px;
    margin-left: 180px;
    float: left;
  }
  
  .btn:hover{
    background-color: black;
    color: white;
  }
  
  .btn:active{
    background-color: black;
    color: white;
  }
  
  .btn{
    cursor: pointer;
    position: relative;
    float: left;
    border-color: #b1bab3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    height: 60px;
    background-color: #383834;
    font-size: 10px 20px;
    transition: 0.3s;
    border-radius: 15px;
  }
  .info{
    margin-left: 770px;
    margin-top: 0px;
    position: relative;
  
  }
  
  .location{
    position: relative;
    height: 20px;
    width: 20px;
    float: left;
  }
  
  .loc{
    float: left;
    text-decoration: none;
    color: black;
  }
  
  .phone{
    margin-left: 20px;
    height: 20px;
    width: 20px;
    padding-right: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgb(243, 243, 178);
  }

  .dropdown-content a:hover {background-color: #44d7eb;}

  .dropDown:hover .dropdown-content {display: block;}
 

