form{
    border:2px solid #44d7eb;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid black;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  width: 20%;
  margin-right: 10px;
}

.signupbtn{
width: 20%;
}

.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.clearfix{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}