.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
  }
  .modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30%;
    width: 40%;
    height: 90%;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 20px #44d7eb;
    z-index: 101;
    padding: 40px;
  }

  
  @media only screen and (max-width: 1200px) {
    .modal-box{
      width: 80%;
    }
  }

  @media only screen and (max-width: 500px) {
    .modal-box{
      width: 100%;
    }
  }
